@charset "utf-8";

*{
    padding:0;
	margin:0;
}

/***********************************
		DEFAULTS
***********************************/

body{
	background-color: #222;
    line-height: 25px;
}
h1, h2, h3, h4{
	font-family:'Droid Serif', 'Droid Sans', serif;
}
h1{
    text-align:center;
    line-height: 120px;
}
h2{
    line-height: 90px;
}
h3{
    line-height: 60px;
}
p, li, a{
	font-family:'Droid Sans', 'Droid Serif', sans-serif;
}
img{
	width:90%;
	max-width: 100%;
	box-sizing: border-box;
}
ul{
	list-style-type: none;
}
a:link, a:visited{
	transition: all 0.8s linear;
}
a:hover, a:active, a:focus{
	text-decoration: none;
}

/***********************************
		LAYOUT
***********************************/

.wrapper{
	width:90%;
	max-width: 1020px;
	min-width: 800px;
	margin:0 auto 2.0rem;
	background-color: #d4d4d4;
}
.header{
	background-color: #000;
    min-height: 400px;
}
.main{
	padding-left: 40px;
    padding-right: 40px;
}
.footer{
	background-color: #444;
    min-height: 25px;
    padding: 1%;
}
.right {
  height: 350px;
  width: 350px;
  float: right;
}

/***********************************
		LINKS 
***********************************/

.footer a:link,
.footer a:visited{
	display: block;
    color: #c30;
}
.footer a:hover {
    color: #fc0;
    font-size: 1.05rem;
}
.footer a:active,
.footer a:focus {
    transition-property: text;
    transition-duration: 1s;
    transition-timing-function: ease-in-out;
}

/***********************************
		CONTENT
***********************************/

.header h1{
    color:#fff;
    font-size: 6.854rem;
    text-shadow: 1px 2px .5px #D4D4D4;
}
.main h2{
	color: #c30;
    font-size: 4.236rem;
    text-shadow: 1px 2px .5px #333;
}
.main h3{
 	color: #c30;
    font-size: 2.618rem;
    text-shadow: 1px 2px .5px #333; 
}
.main p{
    font-size: .85rem;
}
.main img{
    border: 2px solid;
    border-radius: 65px;
    height: 20%;
    width: 20%;   
}
.left{
	float:left;
	margin-right:10px;
	margin-bottom: 10px;
}
.footer p{
    margin-left: 10px;
    line-height: 100px;
}
.footer li{
    width: 50%;
    margin-left: 80px;
}
.footer li:nth-child(even){
    float:right;
    text-align: top;
}